@import "./reset.css";
@import "./common.css";
@import "./wiki-layout.css";

.gallery{
  margin:auto;
  display:grid;
  width:calc(250px * 3);
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
}

.gallery img{
  width:250px;
  height:250px;
  object-fit: cover;
}